<!DOCTYPE html>
<!--This is a diplay of all mazda group members-->
<html>
    <head> 
        <title>Mazda Language Translator </title>

        <!-- implement some styles here -->
        <style>
          

        </style>
    </head>

    <body background="mazda_car1.jpg" >
        <!-- <p>Mazda is a CODIT cohert 3 group</p>
         login forms 
        create a form that asks
        1. language to be translated form
        2. language to be translated to
        3. a submit button -->

        <form>
            <div>
                <div>
                    <label> Select language</label>
                    <select name="fromLanguage">
                        <option></option>
                        <option value="en">
                            English
                        </option>
                        <option value="fr">
                            French
                        </option>
                        <option value="gr">
                            German
                        </option>
                        <option value="esp">
                            Spanish
                        </option>
                        <option value="it">
                            Italian
                        </option>
                    </select>                
                </div>
                <div>
                    <textarea rows="4" cols="40" placeholder="input the text u ant to translate"> </textarea>
                </div>
            </div>

            <div>
                <label> Select language</label>
                <select name="toLanguage">
                    <option></option>
                    <option value="en">
                        English
                    </option>
                    <option value="fr">
                        French
                    </option>
                    <option value="gr">
                        German
                    </option>
                    <option value="esp">
                        Spanish
                    </option>
                    <option value="it">
                        Italian
                    </option>
                </select>                
            </div>
            <div>
                <textarea rows="4" cols="40" placeholder="input the text u ant to translate"> </textarea>
            </div>
        </div>
        <div>
            <input type="submit" name="submittranslation" value="Translate">
        </div>
        </form>


    </body>
</html>


